.heroes__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 980px) {
  .heroes__wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}